# WeChat article collector: Dajiala/Jizhiliao API
DAJIALA_API_KEY=""
DAJIALA_VERIFY_CODE=""
DAJIALA_COOKIE=""

# WeChat comic longform: Volcengine Ark/Doubao Seedream
DOUBAO_API_KEY=""
ARK_API_KEY=""
ARK_IMAGE_MODEL="doubao-seedream-4-5-251128"
ARK_API_URL="https://ark.cn-beijing.volces.com/api/v3/images/generations"
